.wrapper{
	margin: 5px;
	padding: 5px;
	border: 2px solid black;
}

.progress div {
	line-height: 30px;
   width:0%;
   border-radius: 5px;
   animation:loadbar 2s;
    -webkit-animation:loadbar 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    }

    @-webkit-keyframes loadbar {

    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}
        @keyframes loadbar {

    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }

}